.select{
    width: 100px;
    background: transparent;
    border-radius: 20px;
    padding: 0 5px;
    oppearance: none;
    color: white;
}
.select:checked{
    background: #1ea7fd;
}
.select:focus{

    outline: none;
}